.frakture-report-header{
  display: flex;
	justify-content: space-between!important;
}
.frakture-report-header-menu{
	display: flex;
	justify-content: flex-start;
}

.frakture-report-custom-tooltip{
	background:#FFF;
	border:1px solid #EEE;
	border-radius:5px;
	padding:10px;
}
.resize1.5{
	font-size: 15px;
  font-size: 1.5vh;
}
.resize2{
	font-size: 20px;
  font-size: 2.0vh;
}
.resize2.5{
	font-size: 25px;
  font-size: 2.5vh;
}
.resize3{
	font-size: 30px;
  font-size: 3.5vh;
}
.resize3.5{
	font-size: 35px;
  font-size: 4vh;
}
.resize4{
	font-size: 40px;
  font-size: 4vw;
}

.frakture-report-editing .react-resizable{
	border:1px solid #BBB;
}
